@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes slowspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slowspin {
  animation: slowspin 120s linear infinite;
}
